.section {
  padding: 94px 0;

  &__header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    padding-top: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
  }
}
